@font-face {
    font-family: 'SeoulNamsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

article.result {
    height: fit-content;
}

#subtitle_text {
    width: 346px;
    height: 50px;

    font-family: SeoulNamsan;
    font-size: 48px;
    line-height: 48px;
    align-items: center;
    text-align: center;

    color: #000000;

    margin-top: 100px;
}

#title_text {
    width: fit-content;
    height: 80px;

    font-family: SeoulNamsan;
    font-size: 64px;
    line-height: 64px;
    align-items: center;
    text-align: center;

    color: #000000;

    margin-top: 25px;
}

#main_image {
    width: 363px;
    height: 316px;
    margin-top: 1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#start_button {
    background-color: #ffffff;
    width: 230px;
    height: 90px;
    border: 1px solid #000000;

    border-radius: 10px;

    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;

    color: #000000;

    margin-top: 35px;
}

.container_copyright {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: #F2F2F2;

}

.start .container_copyright {
    margin-top: 118px;
}


#copyright {
    background: #F2F2F2;

    font-family: SeoulNamsan;
    font-size: 16px;
    line-height: 16px;

    text-align: center;

    color: #686868;

}

#progress_text {
    font-family: SeoulNamsan;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;

    color: #000000;

    margin-top: 5%;
}

.progress {
    margin-top: 35px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#question_title {
    font-family: SeoulNamsan;
    font-size: 36px;
    line-height: 43px;
    align-items: center;
    text-align: center;

    margin-top: 2%;

    color: #000000;
}

.response_button {
    margin-top: 2%;
    width: 532.5px;
    height: 55.38px;

    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;

    background: #F0F0F0;
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
    border-radius: 10px;

}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button:hover {
    background: #E7E7E7;
}

.question .container_copyright {
    margin-top: 450px;
}

#result_title {
    margin-top: 90px;
    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    align-items: center;
    text-align: center;

    color: #000000;
}

.result_image_container {
    margin-top: 30px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.random_choice_button {
    margin-top: 60px;
    margin-bottom: 38px;
    width: 268px;
    height: 58px;

    background: #F0F0F0;
    border: 1px solid #929292;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;

    align-items: center;
    text-align: center;

    color: #000000;
}

.go_to_home {
    margin-top: 0;
    margin-bottom: 38px;
    width: 268px;
    height: 58px;

    background: #F0F0F0;
    border: 1px solid #929292;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;

    align-items: center;
    text-align: center;

    color: #000000;
}

.share {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bg-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}

.modal-content {
    position: relative;
    width: 428px;
    height: 90%;

    background: rgba(230, 230, 230, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.exit {
    position: absolute;
    top: 10px;
    right: 14px;
    width: 43px;
    height: 43px;
    cursor: pointer;
}

.result_modal_text1 {
    width: fit-content;
    margin-top: 10%;
    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    align-items: center;
    text-align: center;

    color: #000000;

}

.result_modal_text2 {
    margin-top: 10%;
    width: max-content;
    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    align-items: center;
    text-align: center;

    color: #000000;
}

#share_button {
    margin-top: 12%;
    background: #F0F0F0;
    border: 1px solid #929292;
    box-sizing: border-box;
    border-radius: 10px;
    width: 70%;
    height: 50px;

    font-family: SeoulNamsan;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    align-items: center;
    text-align: center;

    color: #000000;

}

/* .start {
    display: none;
} */


.question {
    height: 100%;
    display: none;
}

.result {
    display: none;
}

#image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.share {
    margin-top: 40px;
}

.kakao_ad {
    width: 350px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {

    .progress {
        width: 70%;
    }

    .response_button {
        width: 60%;
    }

}

@media screen and (max-width: 480px) {

    article {
        height: 95%;
    }

    #subtitle_text {
        font-size: 29px;
        line-height: 21px;
        height: fit-content;
    }

    #title_text {
        font-size: 45px;
        line-height: 43px;
        height: fit-content;
        text-align: center;
    }

    #main_image {
        margin-top: 15px;
        width: 226px;
        height: 196px;
    }

    #start_button {
        width: 40%;
        height: 50px;
        font-size: 18px;
        line-height: 21px;
    }

    #progress_text {
        font-size: 18px;
        line-height: 21px;
        margin-top: 17%;
    }

    .progress {
        margin-top: 20px;
    }

    #question_title {
        font-size: 1.4em;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    #A {
        margin-top: 0;
    }

    .response_button {
        height: fit-content;
        margin-top: 5%;

        font-size: 18px;
        line-height: 30px;
    }

    .container_copyright {
        height: 65px;
    }

    #copyright {
        font-size: 12px;
    }

    /*Result Page*/

    #result_title {
        width: fit-content;
        font-size: 25px;
        line-height: 21px;
    }

    /*랜덤 선택 창*/

    .modal-content {
        width: 95%;
    }

    .result_modal_text1 {
        font-size: 29px;
        line-height: 28px;
    }

    .random_choice_button {
        width: 60%;
        min-width: fit-content;
    }

}